# **G345 - ANÁLISIS DE DATOS**

# **Introducción a Pandas**

Pandas es una poderosa librería de Python diseñada para el análisis de datos y la manipulación de datos estructurados. Fue creada por Wes McKinney en 2008 y se ha convertido en una herramienta esencial en el campo de la ciencia de datos y la ingeniería de datos.

## **¿Qué es Pandas?**

Pandas es una biblioteca de software de código abierto para el análisis y la manipulación de datos en Python. Su nombre proviene de "Panel Data" (datos de panel), una referencia a su capacidad para manejar datos estructurados en forma de tablas o DataFrames, similar a una hoja de cálculo de Excel o una base de datos SQL.

Pandas proporciona estructuras de datos de alto rendimiento y fáciles de usar, como Series y DataFrames, que permiten a los usuarios manipular, limpiar, analizar y visualizar datos de manera eficiente.

## **Ventajas de usar Pandas en Análisis de Datos**

*Las ventajas de utilizar Pandas en el análisis de datos incluyen:*

1. Manejo de Datos Estructurados: Pandas proporciona DataFrames, una estructura de datos tabular que permite trabajar con datos estructurados de manera eficiente.

2. Eficiencia en la Manipulación: Pandas es eficiente para operaciones de limpieza y transformación de datos, como filtrado, selección, agrupación y pivotado.

3. Integración con Datos Externos: Permite la importación y exportación de datos desde y hacia varios formatos de archivo, como CSV, Excel, SQL, JSON, y más.

4. Manipulación de Fechas y Tiempos: Ofrece herramientas para trabajar con fechas y horas de manera sencilla.

5. Indexación Personalizada: Permite etiquetar y organizar los datos mediante índices personalizados.

6. Manejo de Datos Faltantes: Pandas facilita la detección y el tratamiento de valores nulos o faltantes en los conjuntos de datos.

7. Funciones Estadísticas y de Agregación: Proporciona herramientas para calcular estadísticas descriptivas y realizar operaciones de agregación en los datos.

8. Operaciones en datos: Permite realizar operaciones de agrupación, combinación, fusión y agregación de datos, y soporta el uso de funciones estadísticas y matemáticas complejas.

## **Estructuras de Datos en Pandas**

Las dos estructuras de datos principales en Pandas son:

1. **Series**: Una Serie es una estructura de datos unidimensional similar a una matriz o una columna en una hoja de cálculo. Cada Serie tiene un índice que permite etiquetar y acceder a los elementos. Puedes pensar en una Serie como una columna de un DataFrame.

2. **DataFrame**: Un DataFrame es una estructura de datos bidimensional que se asemeja a una tabla de base de datos o una hoja de cálculo de Excel. Consiste en filas y columnas, donde cada columna puede contener diferentes tipos de datos. Los DataFrames son especialmente útiles para el análisis de datos tabulares y permite operaciones como filtrar, agregar, pivotar y unir conjuntos de datos.

![image.png]()

##**Pandas y NumPy**

Aunque son dos librerías diferentes, son complementarias, ya que en su núcleo, Pandas está construido en sus cimientos por NumPy. Sin embargo, Pandas está específicamente enfocado en la manipulación y el análisis de datos.

In [ ]:
# Se cargan las librerías Numpy y Pandas
import numpy as np
import pandas as pd

# **Manipulación de Datos con Pandas**

##**Creación de Estructuras de Datos**

### **Series: Una Dimensión de Datos Etiquetados**

Una Serie en Pandas es una estructura de datos unidimensional que puede contener datos de diferentes tipos, pero a diferencia de una lista de Python, cada elemento en una Serie está etiquetado con una etiqueta o índice. Estos índices son útiles para acceder y referirse a los datos de manera más intuitiva.

Ejemplo de creación de una Serie en Pandas:

In [ ]:
# Creación de una serie a partir de una lista
lista_serie = pd.Series(data=[10,20,30,40,50,60])

print(f"Lista Serie:\n{lista_serie}")
print(type(lista_serie))

Lista Serie:
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# Creación de una serie a partir de dos listas
lista_serie = pd.Series(data=[10,20,30,40,50,60], index=["a","b","c","d","e","f"])
print(f"Lista Serie:\n{lista_serie}")
print(type(lista_serie))

Lista Serie:
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# Creación de una serie a partir de dos arrays
array_1d = np.array([10,20,30,40,50,60])
indices = np.array(["a","b","c","d","e","f"])
print(f"Array_1d: {array_1d}")
print(f"Índices: {indices}")
print(type(array_1d), type(indices))

array_serie = pd.Series(array_1d, indices)
print(f"\nArray Serie:\n{array_serie}")
print(type(array_serie))

Array_1d: [10 20 30 40 50 60]
Índices: ['a' 'b' 'c' 'd' 'e' 'f']
<class 'numpy.ndarray'> <class 'numpy.ndarray'>

Array Serie:
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# Creación de una serie a partir de array y lista
array_1d = np.array([10,20,30,40,50,60])
indices = ["a","b","c","d","e","f"]
print(f"Array_1d: {array_1d}")
print(f"Índices: {indices}")
print(type(array_1d), type(indices))

array_serie = pd.Series(array_1d, indices)
print(f"\nArray Serie:\n{array_serie}")
print(type(array_serie))

Array_1d: [10 20 30 40 50 60]
Índices: ['a', 'b', 'c', 'd', 'e', 'f']
<class 'numpy.ndarray'> <class 'list'>

Array Serie:
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
<class 'pandas.core.series.Series'>

### **DataFrames: Tablas Bidimensionales de Datos**

Ejemplo de creación de un Dataframe en Pandas:

In [ ]:
# Se crea una lista de datos
lista_datos = [["Helena", "F", "Bucaramanga", "13"],
               ["Esteban", "M", "Medellin", "24"],
               ["Edith", "F","Bucaramanga","59"],
               ["Jairo","M","Cúcuta","60"],
               ["José","M","Cali","45"]]

print(f"Lista: {lista_datos}")
print(type(lista_datos))

Lista: [['Helena', 'F', 'Bucaramanga', '13'], ['Esteban', 'M', 'Medellin', '24'], ['Edith', 'F', 'Bucaramanga', '59'], ['Jairo', 'M', 'Cúcuta', '60'], ['José', 'M', 'Cali', '45']]
<class 'list'>

In [ ]:
# Se crea el dataframe a partir de los datos
lista_df = pd.DataFrame(lista_datos)
print(f"Lista Dataframe:\n{lista_df}")
print(type(lista_df))

Lista Dataframe:
         0  1            2   3
0   Helena  F  Bucaramanga  13
1  Esteban  M     Medellin  24
2    Edith  F  Bucaramanga  59
3    Jairo  M       Cúcuta  60
4     José  M         Cali  45
<class 'pandas.core.frame.DataFrame'>

Nótese que al crear el dataframe, las filas y las columnas se marcan de manera numérica secuencial (0 1 2 3 ...).

En este caso las filas con los "índices" y las columnas con los "títulos". Toman estos valores por defecto porque no se especificaron, sin embargo, se pueden especificar.

In [ ]:
# Se crean los índices y los títulos
titulos=["Nombre","Genero","Ciudad","Edad"]
indices=["R1","R2","R3","R4","R5"]

# Se crea el dataframe lista_df a partir de los datos y se utilizan los indices y los títulos
lista_df = pd.DataFrame(data=lista_datos, index=indices, columns=titulos)
print(f"Lista Dataframe:\n{lista_df}")
print(type(lista_df))

Lista Dataframe:
     Nombre Genero       Ciudad Edad
R1   Helena      F  Bucaramanga   13
R2  Esteban      M     Medellin   24
R3    Edith      F  Bucaramanga   59
R4    Jairo      M       Cúcuta   60
R5     José      M         Cali   45
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Ver los nombres de las columnas existentes en lista_df
print(lista_df.columns)

Index(['Nombre', 'Genero', 'Ciudad', 'Edad'], dtype='object')

In [ ]:
# Ver los nombres de las filas existentes en lista_df
print(lista_df.index)

Index(['R1', 'R2', 'R3', 'R4', 'R5'], dtype='object')

En la creación de los dataframes se pueden utilizar listas, arrays o ambos.

In [ ]:
# Se crea un array de datos
array_datos = np.array([["Helena", "F", "Bucaramanga", "13"],
                        ["Esteban", "M", "Medellin", "24"],
                        ["Edith", "F","Bucaramanga","59"],
                        ["Jairo","M","Cúcuta","60"],
                        ["José","M","Cali","45"]])

print(f"Array Datos:\n{array_datos}")
print(type(array_datos))

Array Datos:
[['Helena' 'F' 'Bucaramanga' '13']
 ['Esteban' 'M' 'Medellin' '24']
 ['Edith' 'F' 'Bucaramanga' '59']
 ['Jairo' 'M' 'Cúcuta' '60']
 ['José' 'M' 'Cali' '45']]
<class 'numpy.ndarray'>

In [ ]:
# Se crean los índices y los títulos
titulos=["Nombre","Genero","Ciudad","Edad"]
indices=["R1","R2","R3","R4","R5"]

In [ ]:
# Se crea el dataframe array_df a partir de los datos y se utilizan los indices y los títulos
array_df = pd.DataFrame(data=array_datos, index=indices, columns=titulos)
print(f"Array Dataframe:\n{array_df}")
print(type(array_df))

Array Dataframe:
     Nombre Genero       Ciudad Edad
R1   Helena      F  Bucaramanga   13
R2  Esteban      M     Medellin   24
R3    Edith      F  Bucaramanga   59
R4    Jairo      M       Cúcuta   60
R5     José      M         Cali   45
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Resetear el Índice
df_reset = array_df.reset_index()
print(df_reset)

  index   Nombre Genero       Ciudad Edad
0    R1   Helena      F  Bucaramanga   13
1    R2  Esteban      M     Medellin   24
2    R3    Edith      F  Bucaramanga   59
3    R4    Jairo      M       Cúcuta   60
4    R5     José      M         Cali   45

In [ ]:
# Asignar un Índice
df_reset = df_reset.set_index('Nombre')
print(df_reset)
print("\n", array_df)

        index Genero       Ciudad Edad
Nombre
Helena     R1      F  Bucaramanga   13
Esteban    R2      M     Medellin   24
Edith      R3      F  Bucaramanga   59
Jairo      R4      M       Cúcuta   60
José       R5      M         Cali   45

      Nombre Genero       Ciudad Edad
R1   Helena      F  Bucaramanga   13
R2  Esteban      M     Medellin   24
R3    Edith      F  Bucaramanga   59
R4    Jairo      M       Cúcuta   60
R5     José      M         Cali   45

In [ ]:
print(df_reset.columns)

Index(['index', 'Genero', 'Ciudad', 'Edad'], dtype='object')

## **Agregar Columnas**

In [ ]:
array_df = pd.DataFrame(data=array_datos, index=indices, columns=titulos)
print(f"Array Dataframe:\n{array_df}")

Array Dataframe:
     Nombre Genero       Ciudad Edad
R1   Helena      F  Bucaramanga   13
R2  Esteban      M     Medellin   24
R3    Edith      F  Bucaramanga   59
R4    Jairo      M       Cúcuta   60
R5     José      M         Cali   45

In [ ]:
array_df["Teléfono"] = ["3103103103","3113113113","3123123123","3213213213","3153153155"]
print(f"Array Dataframe:\n{array_df}")
#array_df

Array Dataframe:
     Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R3    Edith      F  Bucaramanga   59  3123123123
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

In [ ]:
# array_df = array_df.assign(
#     Teléfono2 = ["3103103103","3113113113","3123123123","3213213213","3153153155"],
#     Telefono3 = ["3103103103","3113113113","3123123123","3213213213","3153153155"]
# )
# print(f"Array Dataframe:\n{array_df}")

Array Dataframe:
     Nombre Genero       Ciudad Edad    Teléfono   Teléfono2   Telefono3
R1   Helena      F  Bucaramanga   13  3103103103  3103103103  3103103103
R2  Esteban      M     Medellin   24  3113113113  3113113113  3113113113
R3    Edith      F  Bucaramanga   59  3123123123  3123123123  3123123123
R4    Jairo      M       Cúcuta   60  3213213213  3213213213  3213213213
R5     José      M         Cali   45  3153153155  3153153155  3153153155

In [ ]:
# Cambio de nombre en columnas
array_df.columns = ["Name","Gender","City","Age","Phone"]
print(f"Array Dataframe:\n{array_df}")

Array Dataframe:
       Name Gender         City Age       Phone
R1   Helena      F  Bucaramanga  13  3103103103
R2  Esteban      M     Medellin  24  3113113113
R3    Edith      F  Bucaramanga  59  3123123123
R4    Jairo      M       Cúcuta  60  3213213213
R5     José      M         Cali  45  3153153155

In [ ]:
array_df.columns = ["Nombre","Genero","Ciudad","Edad","Teléfono"]
print(f"Array Dataframe:\n{array_df}")

Array Dataframe:
     Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R3    Edith      F  Bucaramanga   59  3123123123
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

## **Conversión de Tipos de Datos**

In [ ]:
# Identificar el tipo de dato de una columna
print(array_df["Edad"].dtype)

object

In [ ]:
# Se convierte el tipo de dato a un numérico. Si no se especifica el tipo con "downcast"
# lo transforma a int64
array_df["Edad"] = pd.to_numeric(array_df["Edad"])
print(array_df["Edad"].dtype)

int64

In [ ]:
# Se convierte a numérico tipo float
array_df["Edad"] = pd.to_numeric(array_df["Edad"], downcast='float')
print(array_df["Edad"].dtype)

float32

In [ ]:
# Se convierte a numérico tipo int
array_df["Edad"] = array_df["Edad"].astype('int')
print(array_df["Edad"].dtype)

int64

In [ ]:
# Se convierte a tipo string
array_df["Edad"] = array_df["Edad"].astype('string')
print(array_df["Edad"].dtype)

string

In [ ]:
# Se convierte a tipo string
array_df["Edad"] = array_df["Edad"].astype(str)
print(array_df["Edad"].dtype)

object

### Conversiones a fechas

In [ ]:
# Supongamos que se tiene una columna 'fecha' de tipo object en el DataFrame

df = np.array([["24/12/1981 14:30:45"],
               ["24/02/2010 09:10:60"],
               ["25/05/2011 11:00:00"],
               ["27/09/1984 23:15:55"],
               ["31/12/1970 06:26:48"]])

print(f"Array:\n{df}")

titulo=["fecha_hora"]

df = pd.DataFrame(data=df, columns=titulo)
print(f"\nDataframe:\n{df}")

Array:
[['24/12/1981 14:30:45']
 ['24/02/2010 09:10:60']
 ['25/05/2011 11:00:00']
 ['27/09/1984 23:15:55']
 ['31/12/1970 06:26:48']]

Dataframe:
            fecha_hora
0  24/12/1981 14:30:45
1  24/02/2010 09:10:60
2  25/05/2011 11:00:00
3  27/09/1984 23:15:55
4  31/12/1970 06:26:48

In [ ]:
print(df['fecha_hora'].dtype)

object

In [ ]:
# Se convierte la columna 'fecha' a un objeto de tipo datetime64[ns] que es el tipo estándar de pandas
df['fecha_hora'] = pd.to_datetime(df['fecha_hora'])
print(df)
print(df['fecha_hora'].dtype)

           fecha_hora
0 1981-12-24 14:30:45
1 2010-02-24 09:11:00
2 2011-05-25 11:00:00
3 1984-09-27 23:15:55
4 1970-12-31 06:26:48
datetime64[ns]

In [ ]:
# Convierte la columna fecha_hora a string con el formato deseado para visualización
df['fecha_hora_formateada'] = df['fecha_hora'].dt.strftime('%d/%m/%Y %H:%M:%S')
print(df)
print(df['fecha_hora_formateada'].dtype)

           fecha_hora fecha_hora_formateada
0 1981-12-24 14:30:45   24/12/1981 14:30:45
1 2010-02-24 09:11:00   24/02/2010 09:11:00
2 2011-05-25 11:00:00   25/05/2011 11:00:00
3 1984-09-27 23:15:55   27/09/1984 23:15:55
4 1970-12-31 06:26:48   31/12/1970 06:26:48
object

In [ ]:
# para acceder a los componentes de la fecha
df['año'] = df['fecha_hora'].dt.year
df['mes'] = df['fecha_hora'].dt.month
df['dia'] = df['fecha_hora'].dt.day
print(df)

           fecha_hora fecha_hora_formateada   año  mes  dia
0 1981-12-24 14:30:45   24/12/1981 14:30:45  1981   12   24
1 2010-02-24 09:11:00   24/02/2010 09:11:00  2010    2   24
2 2011-05-25 11:00:00   25/05/2011 11:00:00  2011    5   25
3 1984-09-27 23:15:55   27/09/1984 23:15:55  1984    9   27
4 1970-12-31 06:26:48   31/12/1970 06:26:48  1970   12   31

In [ ]:
df['hora'] = df['fecha_hora'].dt.hour        # Hora (0-23)
df['minuto'] = df['fecha_hora'].dt.minute    # Minuto (0-59)
df['segundo'] = df['fecha_hora'].dt.second   # Segundo (0-59)
df['microsegundo'] = df['fecha_hora'].dt.microsecond  # Microsegundos
print(df)

           fecha_hora fecha_hora_formateada   año  mes  dia  hora  minuto  \
0 1981-12-24 14:30:45   24/12/1981 14:30:45  1981   12   24    14      30
1 2010-02-24 09:11:00   24/02/2010 09:11:00  2010    2   24     9      11
2 2011-05-25 11:00:00   25/05/2011 11:00:00  2011    5   25    11       0
3 1984-09-27 23:15:55   27/09/1984 23:15:55  1984    9   27    23      15
4 1970-12-31 06:26:48   31/12/1970 06:26:48  1970   12   31     6      26

   segundo  microsegundo
0       45             0
1        0             0
2        0             0
3       55             0
4       48             0

## **Filtrado de Datos**

In [ ]:
print(array_df)

     Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R3    Edith      F  Bucaramanga   59  3123123123
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

In [ ]:
# Eliminar una columna del df. drop() no modifica el df original.
# Para que lo haga se debe incluir el parámetro inplace=True
filtro = array_df.drop('Nombre', axis=1)
print(filtro)

   Genero       Ciudad Edad    Teléfono
R1      F  Bucaramanga   13  3103103103
R2      M     Medellin   24  3113113113
R3      F  Bucaramanga   59  3123123123
R4      M       Cúcuta   60  3213213213
R5      M         Cali   45  3153153155

In [ ]:
# Eliminar varias columnas del df
filtro = array_df.drop(['Genero','Edad'], axis=1)
print(filtro)

     Nombre       Ciudad    Teléfono
R1   Helena  Bucaramanga  3103103103
R2  Esteban     Medellin  3113113113
R3    Edith  Bucaramanga  3123123123
R4    Jairo       Cúcuta  3213213213
R5     José         Cali  3153153155

In [ ]:
# Eliminar una fila del df
filtro = array_df.drop('R3', axis=0)
print(filtro)
print("\n", array_df)

     Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

      Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R3    Edith      F  Bucaramanga   59  3123123123
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

In [ ]:
# añadir un nuevo registro al dataframe de df, ignorando el índice original
df = np.array([["24/12/1981 14:30:45"],
               ["24/02/2010 09:10:60"],
               ["25/05/2011 11:00:00"],
               ["27/09/1984 23:15:55"],
               ["31/12/1970 06:26:48"]])
titulo=["fecha_hora"]

df = pd.DataFrame(data=df, columns=titulo)
print(f"\nDataframe:\n{df}")

Dataframe:
            fecha_hora
0  24/12/1981 14:30:45
1  24/02/2010 09:10:60
2  25/05/2011 11:00:00
3  27/09/1984 23:15:55
4  31/12/1970 06:26:48

In [ ]:
nuevo_registro = pd.DataFrame([['1980-06-29 12:00:45']], columns=df.columns)
df = pd.concat([df, nuevo_registro], ignore_index=True)
print(f"\nDataframe:\n{df}")

Dataframe:
            fecha_hora
0  24/12/1981 14:30:45
1  24/02/2010 09:10:60
2  25/05/2011 11:00:00
3  27/09/1984 23:15:55
4  31/12/1970 06:26:48
5  1980-06-29 12:00:45

In [ ]:
# Manejar errores ('coerce' convierte los errores a NaT)
df['fecha_hora'] = pd.to_datetime(df['fecha_hora'], errors='coerce')
print(df)

           fecha_hora
0 1981-12-24 14:30:45
1 2010-02-24 09:11:00
2 2011-05-25 11:00:00
3 1984-09-27 23:15:55
4 1970-12-31 06:26:48
5                 NaT

/tmp/ipython-input-3297822264.py:2: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['fecha_hora'] = pd.to_datetime(df['fecha_hora'], errors='coerce')

In [ ]:
# Eliminar una fila del df
fil = df.drop(5, axis=0)
print(fil)

           fecha_hora
0 1981-12-24 14:30:45
1 2010-02-24 09:11:00
2 2011-05-25 11:00:00
3 1984-09-27 23:15:55
4 1970-12-31 06:26:48

In [ ]:
# Eliminar una columna del df original
filtro.drop('Ciudad', axis=1, inplace=True)
print(filtro)

     Nombre Genero Edad    Teléfono
R1   Helena      F   13  3103103103
R2  Esteban      M   24  3113113113
R4    Jairo      M   60  3213213213
R5     José      M   45  3153153155

In [ ]:
# Eliminar una columna del df original
del filtro['Genero']
print(filtro)

     Nombre Edad    Teléfono
R1   Helena   13  3103103103
R2  Esteban   24  3113113113
R4    Jairo   60  3213213213
R5     José   45  3153153155

In [ ]:
# Extracción de columna del df original. Crea una serie con el df extraído
col_extraida = filtro.pop('Teléfono')
print(col_extraida)
print("\n", filtro)

R1    3103103103
R2    3113113113
R4    3213213213
R5    3153153155
Name: Teléfono, dtype: object
 object

      Nombre Edad
R1   Helena   13
R2  Esteban   24
R4    Jairo   60
R5     José   45

In [ ]:
print(array_df)

     Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R3    Edith      F  Bucaramanga   59  3123123123
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

In [ ]:
# Crear una serie o df a partir de las columnas de otro df
filtro = array_df[['Nombre', 'Edad']]
print(filtro)

     Nombre Edad
R1   Helena   13
R2  Esteban   24
R3    Edith   59
R4    Jairo   60
R5     José   45

In [ ]:
print(array_df)

     Nombre Genero       Ciudad Edad    Teléfono
R1   Helena      F  Bucaramanga   13  3103103103
R2  Esteban      M     Medellin   24  3113113113
R3    Edith      F  Bucaramanga   59  3123123123
R4    Jairo      M       Cúcuta   60  3213213213
R5     José      M         Cali   45  3153153155

In [ ]:
# Se filtra para ver la tabla con los datos de personas menores de 30 años
array_df["Edad"] = array_df["Edad"].astype('int')

filtro_1 = array_df["Edad"]<30
print(filtro_1)
print("\n", array_df[filtro_1])

R1     True
R2     True
R3    False
R4    False
R5    False
Name: Edad, dtype: bool

      Nombre Genero       Ciudad  Edad    Teléfono
R1   Helena      F  Bucaramanga    13  3103103103
R2  Esteban      M     Medellin    24  3113113113

In [ ]:
# Se filtra para ver personas que esten en Bucaramanga
filtro_2 = array_df["Ciudad"]=="Bucaramanga"
print(filtro_2)
print("\n", array_df[filtro_2])

R1     True
R2    False
R3     True
R4    False
R5    False
Name: Ciudad, dtype: bool

     Nombre Genero       Ciudad  Edad    Teléfono
R1  Helena      F  Bucaramanga    13  3103103103
R3   Edith      F  Bucaramanga    59  3123123123

In [ ]:
# Se filtra doble, personas que tienen menos de 30 años y están en Bucaramanga
# Aquí se utiliza el operador '&' en vez de 'and', ya que se requiere hacer una
# comparación 1 a 1 en cada fila del array. 'and' generará un único true o
# false, por lo que no sirve como filtro

filtro_3 = (array_df["Edad"]<30) & (array_df["Ciudad"]=="Bucaramanga")
print(filtro_3)
print("\n", array_df[filtro_3])

R1     True
R2    False
R3    False
R4    False
R5    False
dtype: bool

     Nombre Genero       Ciudad  Edad    Teléfono
R1  Helena      F  Bucaramanga    13  3103103103

## **Búsqueda de Datos**

In [ ]:
print(array_df)

In [ ]:
# Se buscan valores de texto en una columna
busqueda = input("Por favor ingresa la ciudad de la cual deseas consultar un registro: ").capitalize()

filtro_4 = array_df.Ciudad.str.contains(busqueda)
print("\n", filtro_4)
array_df[filtro_4]
print("\n", array_df[filtro_4])

In [ ]:
array_df["Edad"] = array_df["Edad"].astype('int')

In [ ]:
# Se buscan valores numéricos en una columna
busqueda2 = int(input("Por favor ingrese la edad de la cual deseas consultar un registro: "))

filtro_5 = array_df.Edad == busqueda2
array_df[filtro_5]

print("\n", array_df[filtro_5])

In [ ]:
# Se buscan valores de texto en una columna
busqueda3 = input("Por favor ingresa el teléfono del cual deseas consultar un registro: ").capitalize()

filtro_6 = array_df.Teléfono.str.contains(busqueda3)
array_df[filtro_6]
print("\n", array_df[filtro_6])

## **Modificación de Datos**

Puedes modificar los datos en un DataFrame de Pandas de varias maneras, como la asignación directa de valores a una columna o aplicando funciones a los datos existentes.

In [ ]:
# Se utiliza replace para reemplazar un valor existente en un columna.
# Cambia todas las apariciones del dato a modificar
print(f"Array Dataframe:\n{array_df}")

array_df["Teléfono"] = array_df["Teléfono"].replace("3213213213","3210000000")
print(f"\nArray Dataframe:\n{array_df}")

In [ ]:
array_df["Ciudad"] = array_df["Ciudad"].replace("Medellin","Medellín")
print(f"\nArray Dataframe:\n{array_df}")

## **Aplicar Funciones a Datos**

In [ ]:
# Aplicación de una función a una columna

def sumar_uno(x):
  return x+1

# Se pasa la función 'sumar_uno' sin paréntesis para que .apply() la ejecute
# en cada elemento

array_df["Edad"] = array_df["Edad"].apply(sumar_uno)
print(f"\nArray Dataframe:\n{array_df}")

In [ ]:
print(array_df["Edad"].apply('mean'))

## **Ordenamiento de datos**

In [ ]:
# Se ordena el df de acuerdo con una columna en un orden específico
array_df = array_df.sort_values(by="Edad", ascending=False)
print(f"\nArray Dataframe:\n{array_df}")

## **Selección de Filas y Columnas**

In [ ]:
# Se crea un nuevo Dataframe a partir del original

columnas_seleccionadas = array_df[["Nombre","Genero"]]
print(f"Columnas Seleccionadas:\n {columnas_seleccionadas}")

In [ ]:
print(f"Array Dataframe:\n {array_df}")

In [ ]:
# Selección por ETIQUETAS: .loc[]
# Sirve para seleccionar datos usando etiquetas de filas y columnas. Sintaxis: df.loc[nombre_fila, nombre_columna]

# Seleccionar una fila por su etiqueta
print("Fila 'R5':\n")
print(array_df.loc['R5'])

In [ ]:
# Seleccionar una celda específica
print("Edad de Helena (fila 'R1', columna 'Edad'):")
print(array_df.loc['R1', 'Edad'])

In [ ]:
# Seleccionar múltiples filas
print("Filas 'R2' y 'R4':\n")
print(array_df.loc[['R2', 'R4']])

In [ ]:
# Seleccionar filas y columnas específicas
print("Nombres y ciudades de filas 'R2' y 'R4':\n")
print(array_df.loc[['R2', 'R4'], ['Nombre', 'Ciudad']])

In [ ]:
# Usar slicing con etiquetas (INCLUSIVO)
print("Filas de 'R4' a 'R2':\n")
print(array_df.loc['R4':'R2'])

In [ ]:
# Selección por POSICIÓN: .iloc[]
# Sirve para seleccionar datos usando posiciones numéricas (como en arrays). Sintaxis: df.iloc[Nfila, Ncolumna]

In [ ]:
# Seleccionar una fila por posición
print("Segunda fila (posición 1):\n")
print(array_df.iloc[1])

In [ ]:
# Seleccionar una celda específica
print("Tercera fila, segunda columna (posición 2,1):\n")
print(array_df.iloc[2, 1])

In [ ]:
# Seleccionar múltiples filas
print("Primera y tercera fila:\n")
print(array_df.iloc[[0, 2]])

In [ ]:
# Seleccionar filas y columnas específicas
print("Primeras 2 filas, columnas 0 y 2:\n")
print(array_df.iloc[0:2, [0, 2]])

In [ ]:
# Usar slicing con posiciones (EXCLUSIVO en el final)
print("Filas de la 1 a la 3 (sin incluir la 3):\n")
print(array_df.iloc[1:3])

## **Agrupación y Agregación de Datos**

In [ ]:
# Selecciona la columna "Ciudad" del DataFrame array_df
print(array_df["Ciudad"])

In [ ]:
# Agrupa los datos usando como clave de agrupación los mismos valores de la columna "Ciudad".
array_df["Ciudad"].groupby([array_df.Ciudad])

In [ ]:
# Aplica la función de agregación "count" a cada grupo.
print(array_df["Ciudad"].groupby([array_df.Ciudad]).agg("count"))

**Nota 1:**

Usar array_df.Ciudad (notación de punto) es equivalente a array_df["Ciudad"].

El **groupby()** recibe una lista (por eso los corchetes []), aunque aquí solo hay un criterio de agrupación.

Estructura interna creada (objeto GroupBy de pandas):

Grupos:
  - "Bucaramanga": [R3, R1]
  - "Cúcuta":      [R4]
  - "Cali":        [R5]
  - "Medellín":    [R2]

**Nota 2: Uso de agg()**

>**agg()** permite otras operaciones como **"sum"**, **"mean"**, o funciones personalizadas.

>En este caso, "count" es redundante porque groupby + count se puede simplificar con **value_counts()**.

In [ ]:
print(array_df["Ciudad"].value_counts())

In [ ]:
print(array_df["Edad"].groupby([array_df.Edad]).agg("sum"))

In [ ]:
print(array_df["Edad"].agg("mean"))

**Nota 3: Error común**

>Si la columna "Ciudad" tuviera valores nulos (NaN), **"count"** los ignoraría, mientras que **"size"** los incluiría en el conteo.

In [ ]:
print(array_df["Ciudad"].groupby([array_df.Ciudad]).agg("size"))

## **Valores Únicos**

In [ ]:
# Identificar los valores únicos en una columna
print(array_df["Ciudad"].unique())

## **Limpieza de Datos Nulos**

El método **dropna()** en pandas se utiliza para eliminar filas o columnas con valores faltantes (NaN, None, o NaT) en un DataFrame o Serie.

In [ ]:
array_df = array_df.dropna()

```
DataFrame.dropna(
    axis=0,          # 0 para filas (default), 1 para columnas
    how='any',       # 'any' (default) o 'all'
    thresh=None,     # Número mínimo de valores no nulos
                     # requeridos para conservar la fila/columna # requeridos
    subset=None,     # Columnas específicas a considerar al
                     # buscar NaN (solo para axis=0)
    inplace=False    # Si es True, modifica el DataFrame original
)
```

Parámetro:

axis
- axis=0 o 'index' (default): Elimina filas con NaN.
- axis=1 o 'columns': Elimina columnas con NaN.

how
- 'any' (default): Elimina si algún valor es NaN.
- 'all': Elimina solo si todos los valores son NaN.

thresh
- Ej: thresh=2 mantiene filas con al menos 2 valores no NaN.

subset

inplace
- False (default): Retorna un nuevo DataFrame.
- True: Modifica el DataFrame original.

***NOTAS***

**NaN vs None:**

>NaN es un valor flotante estándar de NumPy para datos faltantes.

>None es un objeto de Python, pero pandas lo trata como NaN en DataFrames.

**Alternativas a dropna():**

>**fillna()**: Rellena los valores NaN con un valor específico (ej: df.fillna(0)).

>Interpolación: el método **interpolate()** en pandas se utiliza para rellenar valores faltantes (NaN) mediante interpolación, es decir, estimando los valores intermedios basándose en otros puntos de datos. Es especialmente útil para datos secuenciales o series temporales.

```
DataFrame.interpolate(
    method='linear',  # Método de interpolación: 'linear',    
                      #'time', 'polynomial', 'spline','nearest'
    axis=0,           # 0: filas, 1: columnas
    limit=None,       # Número máximo de NaN consecutivos a   
                      # rellenar
    inplace=False,    # Si modifica el DataFrame original
    limit_direction='forward'  # Dirección de relleno:
                               # 'forward', 'backward', 'both'
)
```

¿Cuándo usar interpolate()?
- Datos secuenciales (ej.: series temporales con fechas).
- Cuando los NaN tienen una relación matemática con los datos adyacentes.
- Alternativa a fillna() si los valores no son constantes.

¿Cuándo evitar interpolate()?
- Si los NaN son aleatorios o no tienen patrones.
- En datos categóricos (no numéricos).


**Rendimiento:**

>Usar inplace=True ahorra memoria al no crear un nuevo DataFrame.